<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="eng">
<head>

<link rel="stylesheet" href="/webjars/bulma/css/bulma.min.css" />
<link rel="stylesheet" href="/webjars/font-awesome/css/all.min.css" />
<link rel="stylesheet" href="/css/main.css" />
<meta charset="UTF-8">
<title>Log in page</title>
</head>
<body>

	<div class="container is-flex">
		<div class="block box">
			<h1 class="title is-center" th:text="#{signUp}"></h1>
			<div class="is-flex">
				<form th:action="@{/user/register}" name="user-register" method="post" th:object="${registerUserDto}">
					<div>
					</div>
					<div class="">
						<button class="button is-link is-rounded" type="submit" name="form-submit" value="Register in" th:text="#{register}"></button>
					</div>
					
				</form>
			</div>
		</div>

	</div>

</body>
</html>