<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="eng">
<head th:replace="fragments/layouts :: app-common-header(~{::title})">
	<title>Email insert</title>
</head>
<body>

	<section th:replace="fragments/layouts :: registration-layout(#{send.email.verification}, ~{::#content})">
		<div id="content">
			<form th:action="@{${actionLink}}" name="email-form" method="post" th:object="${emailWebDto}">
				<div>
					<div class="column" th:insert="~{fragments/commons::inputFieldWithIcon('email','Email', 'email', 'fa-envelope')}"></div>
					<label class="help is-danger" th:if="${emailNotFound != null}" th:text="#{email.not.found}"></label>
					<label class="help is-danger" th:if="${emailAlreadyVerified != null}" th:text="#{email.exists}"></label>
				</div>
				<div class="column">
					<button class="button is-link is-rounded" type="submit" name="submit-button" value="Register in" th:text="#{send}"></button>
				</div>
			</form>
		</div>
	</section>

</body>
</html>