<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<!-- Bootstrap Navbar -->
	<div th:fragment="navbar">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark"  aria-label="main navigation bar">
			<div class="container-fluid">
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarNav" aria-controls="navbarNav"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="navbarEmployees"
							role="button" data-bs-toggle="dropdown" aria-expanded="false">Employees</a>
							<ul class="dropdown-menu" aria-labelledby="navbarEmployees">
								<li><a class="dropdown-item" th:href="@{/}">List</a></li>
								<li><a class="dropdown-item" th:href="@{/new}">New</a></li>
							</ul></li>
					</ul>
				</div>

				<div class="d-flex">
					<form th:action="@{/logout}" method="post">
						<button type="submit" class="btn btn-outline-warning">Logout</button>
					</form>
				</div>
			</div>
		</nav>
	</div>

	<!-- 	NAVBAR BULMA -->
	<div th:fragment="BNavbar">
		<nav class="navbar has-background-dark" aria-label="main navigation bar">
			<div class="navbar-brand">
				<a href="" class="navbar-item title is-4 has-text-light" th:text="#{appname}">
				</a>
			</div>
			<div class="navbar-menu is-active">
				<div class="navbar-start">
					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link has-text-primary" th:text="#{projects}"></a>
						<div class="navbar-dropdown">
							<a th:href="@{/}" class="navbar-item" th:text="#{list}"></a>
							<a th:href="@{/new}" class="navbar-item" th:text="#{new}"></a>
						</div>
					</div>
				</div>
				<div class="navbar-end">
					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link has-text-primary" th:text="#{lang.change}"></a>
						<div class="navbar-dropdown">
							<a class="navbar-item" th:href="@{''(lang=en)}" th:text="#{lang.eng}"></a>
							<a class="navbar-item" th:href="@{''(lang=it)}" th:text="#{lang.it}"></a>
						</div>
					</div>
					<div class="navbar-item">
						<form th:action="@{/logout}" method="post">
							<button type="submit" class="button is-warning is-outlined" th:text="#{logout}"></button>
						</form>
					</div>
				</div>
			</div>
		</nav>
	</div>

</body>
</html>