<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="eng">
<head>

<link rel="stylesheet" href="/webjars/bulma/css/bulma.min.css" />
<link rel="stylesheet" href="/webjars/font-awesome/css/all.min.css" />
<link rel="stylesheet" href="/css/main.css" />
<meta charset="UTF-8">
<title>Log in page</title>
</head>
<body>

	<section class="section">
		<div class="container">
			<div class="columns is-centered is-desktop">
				<div class="block box has-text-centered is-vcentered">

					<h1 class="title" th:text="#{login}"></h1>
					<div>
						<div class="label has-text-danger" th:if="${param.error}">Invalid username
							and password.</div>
						<div class="label has-text-warning" th:if="${param.logout}">You have been
							logged out.</div>
						<form th:action="@{/login}" name="login-form" method="post" th:object="${param}">
							<div class="column">
								<div class="control has-icons-left">
									<input class="input is-rounded" type="email" id="username"
										name="username" placeholder="Email" /> 
									<span class="icon is-small is-left">
										<i class="fas fa-envelope"></i>
									</span>
								</div>
							</div>
							<div class="column">
								<div class="control has-icons-left">
									<input class="input is-rounded" type="password" id="password"
										name="password" placeholder="Password" />
									<span class="icon is-small is-left">
										<i class="fas fa-key"></i>
									</span>
								</div>
							</div>
							<div class="column">
								<button class="button is-rounded is-success" name="log-in" type="submit" value="Log in"
									th:text="#{login}"></button>
							</div>
						</form>
					</div>
					<div>
						<a class="link" th:href="@{/user/register}" th:text="#{register}"></a>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>