<!DOCTYPE html>
<html>
<head th:replace="fragments/layouts :: app-common-header(~{::title})">
<title>Test Page</title>
</head>
<body>
	<div class="columns main-window">
		<section
			class="column section auto-scroll has-background-grey-lighter is-one-fifth" id="sidebar">
			<aside class="menu">
				<ul class="menu-list">
					<a class="menu-label is-active" href="#" id="toggle-project-list">
						<span class="icon is-small"> <i class="fas fa-angle-down"
							id="project-list-angle"> </i>
					</span> Projects
					</a>
					<div class="is-primary" id="project-list">
						<ul>
							<li><a href="#">Project 1</a></li>
							<li><a href="#">Project 2</a></li>
							<li><a href="#"> A very long Project name that doesn't
									make any sense </a></li>
						</ul>
					</div>
				</ul>
			</aside>
				
		</section>
		<section class="section column auto-scroll has-background-white-ter" id="main-window">
			<div class="container">
				<button id="sidebar-button" class="button">Toggle Sidebar</button>
				<div>
					<table class="table is-striped is-hoverable">
						<thead>
							<tr>
								<th>id</th>
								<th>Name</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Mario</td>
								<td>Carlo</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="mt-6">
				<form th:action="@{/user/register/test}" method="post">
					<div class="field">
						<textarea class="textarea" rows="" cols="" name="posted" th:text="${posted}"></textarea>
					</div>
					<button class="button" type="submit">Press</button>
				</form>
			</div>
			<div th:if="${posted != null}">
				<p th:utext="${#strings.replace(#strings.escapeXml(posted),'&#10','&lt;br&gt;')}"></p>
			</div>
		</section>
	</div>
<!-- 
	<script type="text/javascript">
		$("#toggle-project-list").click(function() {
			$("#project-list").toggle("fast", function(){
				$("#project-list-angle").toggleClass("fa-angle-down");
				$("#project-list-angle").toggleClass("fa-angle-right");
				$("#toggle-project-list").toggleClass("is-active");
			});
		});

		$("#sidebar-button").click(function() {
			$("#sidebar").toggle("slide");
// 			$("#sidebar").toggle("fast", function(){
// 				$("#main-window").toggleClass("main-window");
// 			});
		});
	</script>
	-->
</body>
</html>