@charset "UTF-8";

#display-toggle{
	display: none;
}

#display-toggle:checked ~ #indexModal{
	display: flex;
}

.main-window{
	height: 100vh;
	width: 100vw;
}

.auto-scroll{
	overflow: auto;
}

.is-circular{
	border-radius: 50% !important;
}

.is-not-displayed{
	display: none;
}



