<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="eng">
<head th:replace="fragments/layouts :: app-common-header(~{::title})">
	<title>Registration page</title>
</head>
<body>

	<section th:replace="fragments/layouts :: registration-layout(#{new.password}, ~{::#content})">
		<div id="content" class="rows">
			<form th:action="@{${actionLink}}" name="password-request" method="post" th:object="${inputPasswordsDto}">
				<div th:replace="fragments/commons :: inputPassword('password', 'New Password')"> </div>
				<div th:replace="fragments/commons :: inputPassword('confirmedPassword', 'Repeat new Password')"> </div>
				<div class="field">
					<label class="help is-danger"	th:if="${#fields.hasErrors('passwords')}" id="input-helper-passwords" 
						th:errors="*{passwords}"></label>
				</div>
			
				<div class="control">
					<button th:replace = "fragments/commons :: genericFormSubmitButton(#{confirm})"></button>
				</div>					
			</form>
			<div class="mt-4">
				<div>
					<a th:href="@{/login}" class="link" th:text="#{back.to.login}"></a>
				</div>
			</div>
		</div>
	</section>

</body>
</html>