<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="eng">
<head th:replace="fragments/layouts :: app-common-header(~{::title})">
	<title>Registration page</title>
</head>
<body>

	<section th:replace="fragments/layouts :: registration-layout(#{signUp}, ~{::#content})">
		<div id="content" class="rows">
			<form th:action="@{/user/register}" name="user-register" method="post" th:object="${registerUserDto}">
				<div class="field">
					<div th:insert="~{fragments/commons::inputFieldWithIcon('email','Email', 'email', 'fa-envelope')}"></div>
					<label class="help is-danger" th:if="${emailExists != null}" th:text="#{email.exists}"></label>
				</div>
				<div class="field" th:insert="fragments/commons::inputFieldWithIcon('username', 'Username', 'text', 'fa-user')"></div>
				<div th:replace="fragments/commons :: inputPassword('password', 'Password')"> </div>
				<div th:replace="fragments/commons :: inputPassword('confirmedPassword', 'Repeat Password')"> </div>
				<div class="field">
					<label class="help is-danger"	th:if="${#fields.hasErrors('passwords')}" id="input-helper-passwords" 
						th:errors="*{passwords}"></label>
				</div>
				<div class="control">
					<button class="button is-primary is-rounded" type="submit" name="form-submit" value="Register in" th:text="#{register}"></button>
				</div>					
			</form>
			<div class="mt-4">
				<div>
					<a th:href="@{/user/register/resend/verification}" class="link" th:text="#{send.email.verification.again}"></a>
				</div>
				<div>
					<a th:href="@{/login}" class="link" th:text="#{back.to.login}"></a>
				</div>
			</div>
		</div>
	</section>

</body>
</html>