<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


	<!-- 	NAVBAR BULMA -->
	<div th:fragment="BNavbar (username)">
		<nav class="navbar has-background-dark"	aria-label="main navigation bar">
			<div class="navbar-brand">
				<a href="" class="navbar-item title is-4 has-text-light"
					th:text="#{appname}"> </a>
			</div>
			<div class="navbar-menu is-active">
				<div class="navbar-start">
					<div class="navbar-item">
						<a class="icon has-text-primary" id="sidebar-button">
							<em class="fas fa-bars"></em>
						</a>
					</div>
					<div class="navbar-item">
						<a class="icon has-text-primary" th:title="#{new.project}" id="open-new-project-card">
							<em class="fas fa-plus"></em>
						</a>
					</div>
				</div>
				<div class="navbar-end">
					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link has-text-primary"> 
							<em class="fa-solid fa-2x fa-language"></em>
						</a>
						<div class="navbar-dropdown">
							<a class="navbar-item" th:href="@{''(lang=en)}">English</a>
							<a class="navbar-item" th:href="@{''(lang=it)}">Italiano</a>
						</div>
					</div>
					<div class="navbar-item">
						<div class="navbar-item has-dropdown is-hoverable" id="user-menu">
							<a class="navbar-link has-text-primary" th:text="${username}"></a>
							<div class="navbar-dropdown">
								<a class="navbar-item" id="logout-link">
									<em class="fa-solid fa-arrow-right-from-bracket"></em>
									<span class="ml-1" th:text="#{logout}"></span>								
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>

		<form th:action="@{/logout}" id="logout-form" name="logout-form" method="post"></form>
		
		<div class="modal" id="modal-project-form-card">
			<div class="modal-background"></div>
			<div class="hero is-fullheight">
				<div class="hero-body">
						<div class="modal-card">
							<header class="modal-card-head">
								<p class="modal-card-title" th:text="#{new.project}"></p>
								<button class="delete"
									id="close-new-project-card">
								</button>
							</header>
							<form th:action="@{/project/new}" name="new-project-form" method="post">
								<section class="modal-card-body">
										<div class="field">
											<input class="input is-rounded" name="name" placeholder="Project Name" required>
										 </div>
								</section>
								<footer class="modal-card-foot">
									<button class="button is-success is-rounded" name="submit-button" type="submit" th:text="#{create}">
									</button>
									<button class="button is-rounded" id="cancel-new-project-card" type="button" th:text="#{cancel}">
									</button>
								</footer>
							</form>
						</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript">
			$("#logout-link").click(function() {
				$("#logout-form").submit();
			});
			$("#open-new-project-card, #cancel-new-project-card, #close-new-project-card").click(function() {
				$("#modal-project-form-card").toggle("slow");
			})
		</script>
	</div>
		
	<!-- INPUT TEXT WITH OBJECT FIELDS REFERENCED AND ERROR DISPLAY -->
	<div th:fragment="inputWithField (fieldName, placeHolder, inputType)">
		<input th:class="'input is-rounded ' +${#fields.hasErrors(fieldName) ? 'is-danger' : 'is-success'}" th:type="${inputType}"
			th:placeholder="${placeHolder}" th:field="*{__${fieldName}__}" th:required="${inputNotRequired == null}"/>
		<label class="help is-danger"	th:if="${#fields.hasErrors(fieldName)}" th:id="'input-helper-'+${fieldName}" 
			th:errors="*{__${fieldName}__}"></label>
	</div>
	
		<!-- Add icon on the left of the input field -->
	<div th:fragment="inputFieldWithIcon (fieldName, placeHolder, inputType, iconClass)">
		<div class="control has-icons-left">
			<div th:insert="~{::inputWithField(__${fieldName}__, __${placeHolder}__, __${inputType}__)}"></div>
	    	<span class="icon is-small is-left">
				<em th:class="'fas ' +${iconClass}"></em>
			</span>
		</div>
	</div>

</body>
</html>