<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

		
	<!-- INPUT TEXT WITH OBJECT FIELDS REFERENCED AND ERROR DISPLAY -->
	<div th:fragment="inputWithField (fieldName, placeHolder, inputType)">
		<input th:class="'input is-rounded ' +${#fields.hasErrors(fieldName) ? 'is-danger' : 'is-success'}" th:type="${inputType}"
			th:placeholder="${placeHolder}" th:field="*{__${fieldName}__}" th:required="${inputNotRequired == null}"/>
		<label class="help is-danger"	th:if="${#fields.hasErrors(fieldName)}" th:id="'input-helper-'+${fieldName}" 
			th:errors="*{__${fieldName}__}"></label>
	</div>
	
	<!-- Add icon on the left of the input field -->
	<div th:fragment="inputFieldWithIcon (fieldName, placeHolder, inputType, iconClass)">
		<div class="control has-icons-left">
			<div th:insert="~{::inputWithField(__${fieldName}__, __${placeHolder}__, __${inputType}__)}"></div>
	    	<span class="icon is-small is-left">
				<em th:class="'fas ' +${iconClass}"></em>
			</span>
		</div>
	</div>
	
	
	<!-- TASK LIST ITEM -->
	<div class="is-flex is-justify-content-space-between" th:fragment="taskListItem (activeProject, task, colorClass)">
		<div class="is-flex">
			<div>
				<form th:action="@{'/web/project/'+${activeProject.id}+'/task/'+${task.id}+'/toggle/completed'}" 
						th:name="'complete-task-'+${task.id}+'-form'" method="post">
					<button th:class="'button is-small is-outlined is-circular '+${colorClass}"
						type="submit" name="submit-button">
						<span class="icon">
							<em class="fas fa-check"></em>
						</span>
					</button>
				</form>
			</div>
			<div class="ml-4">
					<span class="title is-5" th:text="${task.name}"></span>
					<p th:text="${task.description}"></p>
			</div>
		</div>
		<div class="dropdown is-hoverable is-right">
			<div class="dropdown-trigger" th:id="'task-'+${task.id}+'-menu-trigger'">
				<span
					class="button is-circular is-small is-light is-info">
					<em class="fas fa-ellipsis"></em>
				</span>
			</div>
			<div class="dropdown-menu">
				<div class="dropdown-content">
					<a class="dropdown-item" th:text="#{edit.task}">
					</a>
					<hr class="dropdown-divider">
					<a class="dropdown-item" th:id="'task-'+${task.id}+'-delete-trigger'" 
							th:text="#{delete.task}">
					</a>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
			$("#task-"+[[${task.id}]]+"-delete-trigger").click(function(){
				confirm("Evviva");
			})
		</script>
	</div>

	<!-- GENERIC FORM SUBMIT BUTTON -->
	<button th:fragment="genericFormSubmitButton (textValue)" class="button is-success is-rounded is-light" 
		type="submit" name="submit-button" th:text="${textValue}">
	</button>
	
	<!-- CANCEL BUTTON -->
	<button th:fragment="genericFormCancelButton (uniqueId)"	class="button is-rounded is-light" 
		th:id="${uniqueId}" name="cancel-button" type="button" th:text="#{cancel}">
	</button>
	
	<!-- CONFIRMATION CARD -->
	<div th:fragment="genericConfirmationBox (header, uniqueId, formAction, formMethod, message)">
		<div class="modal" th:id="${uniqueId}+'-card'">
			<div class="modal-background"></div>
			<div class="hero is-fullheight">
				<div class="hero-body">
					<div class="modal-card">
						<header class="modal-card-head">
							<p class="modal-card-title"
								th:text="${header}">
							</p>
							<button class="delete" th:id="${uniqueId}+'-close'">
							</button>
						</header>
						<form th:action="@{${formAction}}"	th:name="${uniqueId}+'-form'" th:method="${formMethod}">
							<section class="modal-card-body">
								<p th:text="${message}"></p>
							</section>
							<footer class="modal-card-foot">
								<button th:replace=" :: genericFormSubmitButton(#{confirm})"></button>
								<button th:replace=" :: genericFormCancelButton(${uniqueId}+'-cancel')"></button>
							</footer>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>