<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

		
	<!-- INPUT TEXT WITH OBJECT FIELDS REFERENCED AND ERROR DISPLAY -->
	<div th:fragment="inputWithField (fieldName, placeHolder, inputType)">
		<input th:class="'input is-rounded ' +${#fields.hasErrors(fieldName) ? 'is-danger' : 'is-success'}" th:type="${inputType}"
			th:placeholder="${placeHolder}" th:field="*{__${fieldName}__}" th:required="${inputNotRequired == null}"/>
		<label class="help is-danger"	th:if="${#fields.hasErrors(fieldName)}" th:id="'input-helper-'+${fieldName}" 
			th:errors="*{__${fieldName}__}"></label>
	</div>
	
	<!-- Add icon on the left of the input field -->
	<div th:fragment="inputFieldWithIcon (fieldName, placeHolder, inputType, iconClass)">
		<div class="control has-icons-left">
			<div th:insert="~{::inputWithField(__${fieldName}__, __${placeHolder}__, __${inputType}__)}"></div>
	    	<span class="icon is-small is-left">
				<em th:class="'fas ' +${iconClass}"></em>
			</span>
		</div>
	</div>
	

	<!-- GENERIC FORM SUBMIT BUTTON -->
	<button th:fragment="genericFormSubmitButton (textValue)" class="button is-success is-rounded" 
		type="submit" name="submit-button" th:text="${textValue}">
	</button>
	
	
	<!-- CANCEL BUTTON -->
	<button th:fragment="genericFormCancelButton (uniqueId)"	class="button is-rounded" 
		th:id="${uniqueId}" name="cancel-button" type="button" th:text="#{cancel}">
	</button>
	
	
	<!-- CONFIRMATION CARD -->
	<div th:fragment="genericConfirmationBox (header, uniqueId, formAction, formMethod, message)">
		<div class="modal" th:id="${uniqueId}+'-card'">
			<div class="modal-background"></div>
			<div class="hero is-fullheight">
				<div class="hero-body">
					<div class="modal-card">
						<header class="modal-card-head">
							<p class="modal-card-title"
								th:text="${header}">
							</p>
							<button class="delete has-background-danger"
								th:id="${uniqueId}+'-close'">
							</button>
						</header>
						<section class="modal-card-body">
							<p th:text="${message}"></p>
						</section>
						<footer class="modal-card-foot">
							<form th:action="@{${formAction}}"	th:name="${uniqueId}+'-form'" th:id="${uniqueId}+'-form'"
									th:method="${formMethod}">
								<button th:replace=" :: genericFormSubmitButton(#{confirm})"></button>
								<button th:replace=" :: genericFormCancelButton(${uniqueId}+'-cancel')"></button>
							</form>
						</footer>
					</div>
				</div>
			</div>
		</div>
 		<script th:inline="javascript">
			$(/*[[${'#'+uniqueId+'-cancel, #'+uniqueId+'-close'}]]*/
					).click(function(){
				$(/*[[${'#'+uniqueId+'-card'}]]*/
						).hide();
			})
 		</script>
	</div>
</body>
</html>